header {
    color:rgb(45, 116, 175);
    text-align: center;
    display:flex;
    justify-content:space-between;
    width:1%;

}
nav{
    display:flex;
    justify-content: :space-between;
    align-
    width: 40%;
}
.logo{
    width: 1%;x;

}


.presentacion{
    background-img:url("img\fondocafeteria.jpg");
}
