header {
    color:rgb(45, 116, 175);
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:90%;
}
header a{
    text-decoration:none ;
    padding:0.7em 0.8em 0.5em 0.3em;
    border:3px solid black;
    box-shadow:2px 4px 2px 4px rgb(189, 185, 185);
    color:darkslategrey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    width:500px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: whitesmoke;
    
}
.logo{
    width: 200px;
}
.logo img{
    width:170%; 
}

.presentacion{
    background-image: url("img/fondocafeteria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.Menu-img{
    display:grid ;  
    grid-template-columns:250px 250px 250;
    grid-template-rows:250px 250px 250px ;
    grid-template-areas: ". cafe crepa "
                         "pastel . cuernito"
                          "malteada hamburguesa .";
    gap: 20px;
}
.Menu-img img{
    width:70%;
    height:70;
}
.imgcafe{
    grid-area: cafe;
}
.imghamburguesa{
    grid-area: hamburguesa; 
}
.imgcrepa{
    grid-area:crepa;
    
}
.imgpastel{
    grid-area:pastel;
    

}
.imgcuernito{
grid-area: cuernito;

}
.imgmalteada{
    grid-area: malteada;
    
}